<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engbaek.mapper.FaqMapper">

	<select id="getList" resultType="com.engbaek.domain.FaqVO">
		<!-- 부등호를 쓰기 위해 CDATA를 사용 -->
	<![CDATA[
	SELECT * FROM faq WHERE faqNo > 0
	]]>
	</select>

	<!-- 쿼리 보관 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							upper(faqTitle) LIKE '%'||upper(#{keyword})||'%'
						</when>
						<when test="type == 'C'.toString()">
							upper(faqContent) LIKE '%'||upper(#{keyword})||'%'
						</when>
						<when test="type == 'W'.toString()">
							upper(adminId) LIKE '%'||upper(#{keyword})||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getListWithPaging"
		resultType="com.engbaek.domain.FaqVO">
		<![CDATA[
			SELECT	faqNo, adminId, faqTitle, faqContent, faqRegdate
 			FROM	( SELECT /*+INDEX_DESC(faq faq_pk)*/
 					  rownum rn, faqNo, adminId, faqTitle, faqContent, faqRegdate 
 					  FROM faq
 					  WHERE	
 		]]>

		<include refid="criteria"></include>
 			
 		<![CDATA[
 			rownum <= #{pageNum} * #{amount}
 			)
 		WHERE rn > (#{pageNum} -1) * #{amount}	
 		]]>
	</select>

	<!-- insert만 처리되고 생성된 PK값을 알 필요가 없는 경우 -->
	<insert id="insert">
		INSERT INTO faq (faqNo, adminId, faqTitle, faqContent, faqRegdate)
		VALUES (faq_seq.nextval, #{adminId}, #{faqTitle}, #{faqContent}, SYSDATE)
	</insert>


	<!-- insert가 실행되고 생성된 PK값을 알아야 하는 경우 -->
	<insert id="insertSelectKey">

		<selectKey keyProperty="faqNo" order="BEFORE"
			resultType="long">
			SELECT faq_seq.nextval FROM dual
		</selectKey>

		INSERT INTO faq (faqNo, adminId, faqTitle, faqContent, faqRegdate)
		VALUES (#{faqNo}, #{adminId}, #{faqTitle}, #{faqContent}, SYSDATE)
	</insert>

	<!-- read -->
	<select id="read" resultType="com.engbaek.domain.FaqVO">
		SELECT * FROM faq WHERE faqNo = #{faqNo}
	</select>

	<!-- delete -->
	<delete id="delete">
		DELETE faq where faqNo = #{faqNo}
	</delete>

	<!-- update -->
	<update id="update">
		UPDATE faq
		SET faqTitle = #{faqTitle}, faqContent = #{faqContent}, faqRegdate = sysdate
		WHERE faqNo = #{faqNo}
	</update>

	<!-- getTotalCount -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM faq WHERE

		<include refid="criteria"></include>

		faqNo > 0
	</select>

</mapper>   